door_keypad_server/door_keypad_server.txt
[
    {
        "id": "6a56ad93.df0a9c",
        "type": "tab",
        "label": "Alarmanlage Main",
        "disabled": false,
        "info": ""
    },
    {
        "id": "3693509f.dd0fb",
        "type": "subflow",
        "name": "Read Keypad or NFC",
        "info": "",
        "in": [
            {
                "x": 60,
                "y": 120,
                "wires": [
                    {
                        "id": "6acb4752.80b72"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 980,
                "y": 120,
                "wires": [
                    {
                        "id": "f476ee9b.452028",
                        "port": 0
                    }
                ]
            }
        ]
    },
    {
        "id": "e827ab82.069248",
        "type": "serial-port",
        "z": "",
        "serialport": "/dev/serial0",
        "serialbaud": "1200",
        "databits": "8",
        "parity": "none",
        "stopbits": "1",
        "newline": "1",
        "bin": "false",
        "out": "count",
        "addchar": false
    },
    {
        "id": "f476ee9b.452028",
        "type": "join",
        "z": "3693509f.dd0fb",
        "name": "combine PIN",
        "mode": "custom",
        "build": "string",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "",
        "joinerType": "str",
        "accumulate": false,
        "timeout": "",
        "count": "",
        "x": 850,
        "y": 120,
        "wires": [
            []
        ]
    },
    {
        "id": "50392968.5ca36",
        "type": "change",
        "z": "3693509f.dd0fb",
        "name": "set msg.complete",
        "rules": [
            {
                "t": "set",
                "p": "complete",
                "pt": "msg",
                "to": "true",
                "tot": "bool"
            },
            {
                "t": "delete",
                "p": "payload",
                "pt": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 670,
        "y": 100,
        "wires": [
            [
                "f476ee9b.452028"
            ]
        ]
    },
    {
        "id": "6acb4752.80b72",
        "type": "function",
        "z": "3693509f.dd0fb",
        "name": "HEX to ASCII",
        "func": "msg.payload = hex2a(msg.payload);\nreturn msg;\n\n\nfunction hex2a(hexx) {\n    var hex = hexx.toString();//force conversion\n    var str = '';\n    for (var i = 0; i < hex.length; i += 2)\n        str += String.fromCharCode(parseInt(hex.substr(i, 2), 16));\n    return str;\n}",
        "outputs": 1,
        "noerr": 0,
        "x": 190,
        "y": 120,
        "wires": [
            [
                "51aef342.3b4e34"
            ]
        ]
    },
    {
        "id": "51aef342.3b4e34",
        "type": "switch",
        "z": "3693509f.dd0fb",
        "name": "split 'D' and remove 'K'",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "D",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "K",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "outputs": 3,
        "x": 400,
        "y": 120,
        "wires": [
            [
                "50392968.5ca36"
            ],
            [],
            [
                "f476ee9b.452028"
            ]
        ]
    },
    {
        "id": "1dd7b397.e3862c",
        "type": "function",
        "z": "6a56ad93.df0a9c",
        "name": "insert 'S'",
        "func": "msg.payload = 'S';\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 560,
        "y": 360,
        "wires": [
            [
                "1aa3f002.539a38"
            ]
        ]
    },
    {
        "id": "6c72af17.398aa8",
        "type": "inject",
        "z": "6a56ad93.df0a9c",
        "name": "tick every 2 sec",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "2",
        "crontab": "",
        "once": false,
        "x": 389,
        "y": 360.0000009536743,
        "wires": [
            [
                "1dd7b397.e3862c"
            ]
        ]
    },
    {
        "id": "1aa3f002.539a38",
        "type": "serial out",
        "z": "6a56ad93.df0a9c",
        "name": "serial-TX",
        "serial": "e827ab82.069248",
        "x": 748,
        "y": 359,
        "wires": []
    },
    {
        "id": "5b31ade7.29d8bc",
        "type": "serial in",
        "z": "6a56ad93.df0a9c",
        "name": "serial-RX",
        "serial": "e827ab82.069248",
        "x": 330,
        "y": 480,
        "wires": [
            [
                "423f4395.8b4c8c"
            ]
        ]
    },
    {
        "id": "423f4395.8b4c8c",
        "type": "function",
        "z": "6a56ad93.df0a9c",
        "name": "ASCII to HEX",
        "func": "var rxString = msg.payload;\nvar rxHex = (\"0\" + rxString.charCodeAt(0).toString(16)).slice(-2);\nmsg.payload = rxHex;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 520,
        "y": 480,
        "wires": [
            [
                "712e5bf8.ac95ac"
            ]
        ]
    },
    {
        "id": "712e5bf8.ac95ac",
        "type": "function",
        "z": "6a56ad93.df0a9c",
        "name": "combine '4Bxx'",
        "func": "context.state = context.state || 0;\n\n// if '4b' -> set to combine state\nif (msg.payload == '4b')\n{\n    context.state = 1;\n    return null;\n}\n// if combine state -> prepend '4b'\nelse if ( context.state == 1 && ( msg.payload == 00 || msg.payload == 01) )\n{\n    msg.payload = '4B' + msg.payload;\n    context.state = 0;\n    return msg;\n}\n// all other msgs are returned as they are\nelse\n{\n    return msg;\n}",
        "outputs": 1,
        "noerr": 0,
        "x": 690,
        "y": 480,
        "wires": [
            [
                "394b9ae1.644f5e",
                "d0aef469.f10c",
                "8acdf57f.b96818"
            ]
        ]
    },
    {
        "id": "62debc25.71c1dc",
        "type": "switch",
        "z": "6a56ad93.df0a9c",
        "name": "KEY file contains PIN?",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "pin",
                "vt": "flow"
            }
        ],
        "checkall": "true",
        "outputs": 1,
        "x": 1180,
        "y": 1140,
        "wires": [
            [
                "54bd6beb.146274"
            ]
        ]
    },
    {
        "id": "eec46468.acb7d",
        "type": "change",
        "z": "6a56ad93.df0a9c",
        "name": "korrekt",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "PIN korrekt",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1630,
        "y": 1120,
        "wires": [
            [
                "516fb10c.812c6",
                "8a8a0c7a.b9937",
                "92fc3410.24dff8"
            ]
        ]
    },
    {
        "id": "597f7aed.e4cb2c",
        "type": "change",
        "z": "6a56ad93.df0a9c",
        "name": "falsch",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "PIN falsch",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1620,
        "y": 1240,
        "wires": [
            [
                "7089bfbe.86b2c8",
                "a0c7d395.e4a698",
                "8ab751cb.7ae3e",
                "162dff04.16a141"
            ]
        ]
    },
    {
        "id": "22df7fd7.0f4bd",
        "type": "change",
        "z": "6a56ad93.df0a9c",
        "name": "state = prearmed",
        "rules": [
            {
                "t": "set",
                "p": "state",
                "pt": "flow",
                "to": "prearmed",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "pri armt",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1330,
        "y": 660,
        "wires": [
            [
                "6090acc9.ba409c"
            ]
        ]
    },
    {
        "id": "516fb10c.812c6",
        "type": "change",
        "z": "6a56ad93.df0a9c",
        "name": "reset alarm trigger",
        "rules": [
            {
                "t": "set",
                "p": "reset",
                "pt": "msg",
                "to": "true",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1820,
        "y": 1100,
        "wires": [
            [
                "fa12741e.afe9b8"
            ]
        ]
    },
    {
        "id": "255c8b0e.286504",
        "type": "serial out",
        "z": "6a56ad93.df0a9c",
        "name": "LED flash",
        "serial": "e827ab82.069248",
        "x": 2290,
        "y": 360,
        "wires": []
    },
    {
        "id": "fc4f5dfc.6e8ec",
        "type": "function",
        "z": "6a56ad93.df0a9c",
        "name": "HEX to ASCII",
        "func": "msg.payload = hex2a(msg.payload);\nreturn msg;\n\n\nfunction hex2a(hexx) {\n    var hex = hexx.toString();//force conversion\n    var str = '';\n    for (var i = 0; i < hex.length; i += 2)\n        str += String.fromCharCode(parseInt(hex.substr(i, 2), 16));\n    return str;\n}",
        "outputs": 1,
        "noerr": 0,
        "x": 2110,
        "y": 360,
        "wires": [
            [
                "255c8b0e.286504"
            ]
        ]
    },
    {
        "id": "4f80198e.7ca6e",
        "type": "switch",
        "z": "6a56ad93.df0a9c",
        "name": "state == prearmed?",
        "property": "state",
        "propertyType": "flow",
        "rules": [
            {
                "t": "eq",
                "v": "prearmed",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "outputs": 2,
        "x": 520,
        "y": 800,
        "wires": [
            [
                "52a3ae59.57242"
            ],
            [
                "c157eafe.f6706"
            ]
        ]
    },
    {
        "id": "52a3ae59.57242",
        "type": "switch",
        "z": "6a56ad93.df0a9c",
        "name": "(Tür zu?) oder (Tür auf?) oder ('D')",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "4B00",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "4B01",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "44",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "outputs": 3,
        "x": 850,
        "y": 800,
        "wires": [
            [
                "49fac2bd.3b1a24"
            ],
            [
                "d860ede9.6ac0d"
            ],
            [
                "bb22216f.4e6f9"
            ]
        ]
    },
    {
        "id": "bb22216f.4e6f9",
        "type": "change",
        "z": "6a56ad93.df0a9c",
        "name": "state = disarmed",
        "rules": [
            {
                "t": "set",
                "p": "state",
                "pt": "flow",
                "to": "disarmed",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "diss-armt",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1130,
        "y": 840,
        "wires": [
            [
                "be8e6e4f.d22a9"
            ]
        ]
    },
    {
        "id": "d5a0513a.4ac57",
        "type": "change",
        "z": "6a56ad93.df0a9c",
        "name": "state = armed",
        "rules": [
            {
                "t": "set",
                "p": "state",
                "pt": "flow",
                "to": "armed",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "Die Alarmanlage ist nun scharf",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1420,
        "y": 760,
        "wires": [
            [
                "c5f24655.ced9c8"
            ]
        ]
    },
    {
        "id": "c157eafe.f6706",
        "type": "switch",
        "z": "6a56ad93.df0a9c",
        "name": "state == armed?",
        "property": "state",
        "propertyType": "flow",
        "rules": [
            {
                "t": "eq",
                "v": "armed",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "outputs": 2,
        "x": 500,
        "y": 920,
        "wires": [
            [
                "36cc16d6.fff9fa"
            ],
            [
                "e66c5669.1f05f8"
            ]
        ]
    },
    {
        "id": "d0aef469.f10c",
        "type": "switch",
        "z": "6a56ad93.df0a9c",
        "name": "state == disarmed?",
        "property": "state",
        "propertyType": "flow",
        "rules": [
            {
                "t": "eq",
                "v": "disarmed",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "outputs": 2,
        "x": 510,
        "y": 700,
        "wires": [
            [
                "922da036.06be8",
                "381421d6.e1637e"
            ],
            [
                "4f80198e.7ca6e"
            ]
        ]
    },
    {
        "id": "922da036.06be8",
        "type": "switch",
        "z": "6a56ad93.df0a9c",
        "name": "payload == 'A'?",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "41",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "outputs": 1,
        "x": 790,
        "y": 660,
        "wires": [
            [
                "46e5621e.d74f7c"
            ]
        ]
    },
    {
        "id": "a5208c1a.964c98",
        "type": "change",
        "z": "6a56ad93.df0a9c",
        "name": "ERROR: unknown state",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "Fehler",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "ERROR: unknown state",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 510,
        "y": 1560,
        "wires": [
            [
                "36614667.5aa5da"
            ]
        ]
    },
    {
        "id": "36cc16d6.fff9fa",
        "type": "switch",
        "z": "6a56ad93.df0a9c",
        "name": "Tür auf?",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "4B01",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "outputs": 1,
        "x": 780,
        "y": 920,
        "wires": [
            [
                "8561c84b.07d4f"
            ]
        ]
    },
    {
        "id": "8561c84b.07d4f",
        "type": "change",
        "z": "6a56ad93.df0a9c",
        "name": "state = intruder",
        "rules": [
            {
                "t": "set",
                "p": "state",
                "pt": "flow",
                "to": "intruder",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "intruder",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1040,
        "y": 920,
        "wires": [
            [
                "603439ba.acaf7",
                "f07435a0.f03cf8",
                "fa12741e.afe9b8"
            ]
        ]
    },
    {
        "id": "e66c5669.1f05f8",
        "type": "switch",
        "z": "6a56ad93.df0a9c",
        "name": "state == intruder?",
        "property": "state",
        "propertyType": "flow",
        "rules": [
            {
                "t": "eq",
                "v": "intruder",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "outputs": 2,
        "x": 510,
        "y": 1000,
        "wires": [
            [
                "d659d00d.256ec8"
            ],
            [
                "e757c852.239"
            ]
        ]
    },
    {
        "id": "82f7d7de.65e2d",
        "type": "function",
        "z": "6a56ad93.df0a9c",
        "name": "collect signals",
        "func": "\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 2120,
        "y": 420,
        "wires": [
            [
                "73ee6277.257474"
            ]
        ]
    },
    {
        "id": "73ee6277.257474",
        "type": "play audio",
        "z": "6a56ad93.df0a9c",
        "name": "",
        "voice": "0",
        "x": 2290,
        "y": 420,
        "wires": []
    },
    {
        "id": "e135bd77.eec6c8",
        "type": "inject",
        "z": "6a56ad93.df0a9c",
        "name": "State?",
        "topic": "",
        "payload": "state",
        "payloadType": "flow",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 970,
        "y": 300,
        "wires": [
            [
                "b0d0bf9c.dfbbf"
            ]
        ]
    },
    {
        "id": "b0d0bf9c.dfbbf",
        "type": "debug",
        "z": "6a56ad93.df0a9c",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "false",
        "x": 1290,
        "y": 260,
        "wires": []
    },
    {
        "id": "96cee0d4.5d0908",
        "type": "inject",
        "z": "6a56ad93.df0a9c",
        "name": "initialisation",
        "topic": "",
        "payload": "true",
        "payloadType": "bool",
        "repeat": "",
        "crontab": "",
        "once": true,
        "x": 990,
        "y": 340,
        "wires": [
            [
                "aeaca153.bd3d98"
            ]
        ]
    },
    {
        "id": "b41038f0.4696a8",
        "type": "change",
        "z": "6a56ad93.df0a9c",
        "name": "state = disarmed",
        "rules": [
            {
                "t": "set",
                "p": "state",
                "pt": "flow",
                "to": "disarmed",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "diss-armt",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1250,
        "y": 380,
        "wires": [
            [
                "95b8e463.ee7cf8"
            ]
        ]
    },
    {
        "id": "394b9ae1.644f5e",
        "type": "trigger",
        "z": "6a56ad93.df0a9c",
        "op1": "",
        "op2": "timeout",
        "op1type": "nul",
        "op2type": "str",
        "duration": "10",
        "extend": true,
        "units": "s",
        "reset": "",
        "name": "arduino timeout (10s)",
        "x": 1040,
        "y": 480,
        "wires": [
            [
                "9f3796f4.e4b3f"
            ]
        ]
    },
    {
        "id": "9f3796f4.e4b3f",
        "type": "change",
        "z": "6a56ad93.df0a9c",
        "name": "ERROR: client timeout",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "timeout",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "ERROR: client timeout",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1290,
        "y": 480,
        "wires": [
            [
                "b5efa0c.35e666"
            ]
        ]
    },
    {
        "id": "b29feaf6.a5c7f8",
        "type": "link in",
        "z": "6a56ad93.df0a9c",
        "name": "send to Arduino",
        "links": [
            "8d46e7e2.55d318",
            "a2a0459a.43853",
            "44440cc9.95b654",
            "9cc737cd.fd6d18",
            "45f37566.d0931c",
            "d34c232d.bf7208"
        ],
        "x": 1995,
        "y": 360,
        "wires": [
            [
                "fc4f5dfc.6e8ec"
            ]
        ]
    },
    {
        "id": "8d46e7e2.55d318",
        "type": "link out",
        "z": "6a56ad93.df0a9c",
        "name": "",
        "links": [
            "b29feaf6.a5c7f8"
        ],
        "x": 1315,
        "y": 940,
        "wires": []
    },
    {
        "id": "603439ba.acaf7",
        "type": "change",
        "z": "6a56ad93.df0a9c",
        "name": "'5202'",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "5202",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1230,
        "y": 940,
        "wires": [
            [
                "8d46e7e2.55d318"
            ]
        ]
    },
    {
        "id": "a0c7d395.e4a698",
        "type": "change",
        "z": "6a56ad93.df0a9c",
        "name": "'5202'",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "5202",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1740,
        "y": 1260,
        "wires": [
            [
                "a2a0459a.43853"
            ]
        ]
    },
    {
        "id": "a2a0459a.43853",
        "type": "link out",
        "z": "6a56ad93.df0a9c",
        "name": "",
        "links": [
            "b29feaf6.a5c7f8",
            "17d9efb5.f346c8"
        ],
        "x": 1825,
        "y": 1260,
        "wires": []
    },
    {
        "id": "7089bfbe.86b2c8",
        "type": "change",
        "z": "6a56ad93.df0a9c",
        "name": "send LED pattern 'false'",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "5200",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1800,
        "y": 1220,
        "wires": [
            [
                "9cc737cd.fd6d18"
            ]
        ]
    },
    {
        "id": "9cc737cd.fd6d18",
        "type": "link out",
        "z": "6a56ad93.df0a9c",
        "name": "",
        "links": [
            "b29feaf6.a5c7f8",
            "17d9efb5.f346c8"
        ],
        "x": 1945,
        "y": 1220,
        "wires": []
    },
    {
        "id": "8a8a0c7a.b9937",
        "type": "change",
        "z": "6a56ad93.df0a9c",
        "name": "send LED pattern 'correct'",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "5201",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1850,
        "y": 1140,
        "wires": [
            [
                "44440cc9.95b654"
            ]
        ]
    },
    {
        "id": "44440cc9.95b654",
        "type": "link out",
        "z": "6a56ad93.df0a9c",
        "name": "",
        "links": [
            "b29feaf6.a5c7f8",
            "17d9efb5.f346c8"
        ],
        "x": 2005,
        "y": 1140,
        "wires": []
    },
    {
        "id": "f68c627b.936f7",
        "type": "e-mail",
        "z": "6a56ad93.df0a9c",
        "server": "mx.freenet.de",
        "port": "465",
        "secure": true,
        "name": "martin.gritzan@gmail.com",
        "dname": "send error mail",
        "x": 2300,
        "y": 480,
        "wires": []
    },
    {
        "id": "36614667.5aa5da",
        "type": "link out",
        "z": "6a56ad93.df0a9c",
        "name": "error",
        "links": [
            "7d371908.48f868",
            "7b9185a7.311f5c"
        ],
        "x": 645,
        "y": 1560,
        "wires": []
    },
    {
        "id": "7b9185a7.311f5c",
        "type": "link in",
        "z": "6a56ad93.df0a9c",
        "name": "send mail",
        "links": [
            "fe6327d7.e9332",
            "b5efa0c.35e666",
            "36614667.5aa5da"
        ],
        "x": 1995,
        "y": 480,
        "wires": [
            [
                "f68c627b.936f7"
            ]
        ]
    },
    {
        "id": "b5efa0c.35e666",
        "type": "link out",
        "z": "6a56ad93.df0a9c",
        "name": "error",
        "links": [
            "7d371908.48f868",
            "7b9185a7.311f5c"
        ],
        "x": 1435,
        "y": 480,
        "wires": []
    },
    {
        "id": "92fc3410.24dff8",
        "type": "link out",
        "z": "6a56ad93.df0a9c",
        "name": "",
        "links": [
            "521291ea.235b88",
            "7d371908.48f868"
        ],
        "x": 2065,
        "y": 1120,
        "wires": []
    },
    {
        "id": "8ab751cb.7ae3e",
        "type": "link out",
        "z": "6a56ad93.df0a9c",
        "name": "error",
        "links": [
            "7d371908.48f868"
        ],
        "x": 1985,
        "y": 1240,
        "wires": []
    },
    {
        "id": "f07435a0.f03cf8",
        "type": "link out",
        "z": "6a56ad93.df0a9c",
        "name": "voice output",
        "links": [
            "7d371908.48f868"
        ],
        "x": 1415,
        "y": 920,
        "wires": []
    },
    {
        "id": "7d371908.48f868",
        "type": "link in",
        "z": "6a56ad93.df0a9c",
        "name": "voice output",
        "links": [
            "f07435a0.f03cf8",
            "92fc3410.24dff8",
            "8ab751cb.7ae3e",
            "80c55b3d.a5ffc8",
            "ef04039c.378798",
            "be8e6e4f.d22a9",
            "c5f24655.ced9c8",
            "6090acc9.ba409c",
            "b4e29070.ac46c",
            "e044d962.8581f8",
            "69218854.bb826",
            "741ebdb4.9d8d2c",
            "ceeed549.dcc1a",
            "b19cf12.73b059",
            "b5efa0c.35e666",
            "36614667.5aa5da",
            "12e21c91.aa010b"
        ],
        "x": 1995,
        "y": 420,
        "wires": [
            [
                "82f7d7de.65e2d"
            ]
        ]
    },
    {
        "id": "be8e6e4f.d22a9",
        "type": "link out",
        "z": "6a56ad93.df0a9c",
        "name": "voice output",
        "links": [
            "7d371908.48f868"
        ],
        "x": 1255,
        "y": 840,
        "wires": []
    },
    {
        "id": "c5f24655.ced9c8",
        "type": "link out",
        "z": "6a56ad93.df0a9c",
        "name": "voice output",
        "links": [
            "7d371908.48f868"
        ],
        "x": 1555,
        "y": 760,
        "wires": []
    },
    {
        "id": "6090acc9.ba409c",
        "type": "link out",
        "z": "6a56ad93.df0a9c",
        "name": "voice output",
        "links": [
            "7d371908.48f868"
        ],
        "x": 1475,
        "y": 660,
        "wires": []
    },
    {
        "id": "b4e29070.ac46c",
        "type": "link out",
        "z": "6a56ad93.df0a9c",
        "name": "voice output",
        "links": [
            "7d371908.48f868"
        ],
        "x": 1515,
        "y": 420,
        "wires": []
    },
    {
        "id": "fa12741e.afe9b8",
        "type": "trigger",
        "z": "6a56ad93.df0a9c",
        "op1": "",
        "op2": "Zwei Minuten um. Alarm",
        "op1type": "nul",
        "op2type": "str",
        "duration": "2",
        "extend": false,
        "units": "min",
        "reset": "",
        "name": "alarm trigger (2min)",
        "x": 1290,
        "y": 900,
        "wires": [
            [
                "f07435a0.f03cf8",
                "511c5651.3ff508"
            ]
        ]
    },
    {
        "id": "fe6327d7.e9332",
        "type": "link out",
        "z": "6a56ad93.df0a9c",
        "name": "error",
        "links": [
            "7b9185a7.311f5c"
        ],
        "x": 2175,
        "y": 1020,
        "wires": []
    },
    {
        "id": "f40708a4.2beb28",
        "type": "change",
        "z": "6a56ad93.df0a9c",
        "name": "add sender",
        "rules": [
            {
                "t": "set",
                "p": "from",
                "pt": "msg",
                "to": "German shepherd's pie",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 2110,
        "y": 540,
        "wires": [
            []
        ]
    },
    {
        "id": "511c5651.3ff508",
        "type": "change",
        "z": "6a56ad93.df0a9c",
        "name": "ALARM: intruder detected",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "Intruder! - or really pissed wife :-(",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "ALARM: intruder detected",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 2030,
        "y": 1020,
        "wires": [
            [
                "fe6327d7.e9332"
            ]
        ]
    },
    {
        "id": "aeaca153.bd3d98",
        "type": "change",
        "z": "6a56ad93.df0a9c",
        "name": "numberOfPinsTried = 0",
        "rules": [
            {
                "t": "set",
                "p": "numberOfPinsTried",
                "pt": "global",
                "to": "0",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1260,
        "y": 340,
        "wires": [
            [
                "31100688.bba85a"
            ]
        ]
    },
    {
        "id": "162dff04.16a141",
        "type": "switch",
        "z": "6a56ad93.df0a9c",
        "name": "numberOfPinsTried == 3",
        "property": "numberOfPinsTried",
        "propertyType": "global",
        "rules": [
            {
                "t": "eq",
                "v": "3",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "outputs": 1,
        "x": 1740,
        "y": 1300,
        "wires": [
            [
                "990345d1.34092"
            ]
        ]
    },
    {
        "id": "cfdae0f7.9ec74",
        "type": "debug",
        "z": "6a56ad93.df0a9c",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "payload",
        "x": 2440,
        "y": 540,
        "wires": []
    },
    {
        "id": "381421d6.e1637e",
        "type": "switch",
        "z": "6a56ad93.df0a9c",
        "name": "payload == '*'?",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "2a",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "outputs": 1,
        "x": 790,
        "y": 700,
        "wires": [
            [
                "fc19f001.7cd278"
            ]
        ]
    },
    {
        "id": "fc19f001.7cd278",
        "type": "change",
        "z": "6a56ad93.df0a9c",
        "name": "state = premaster",
        "rules": [
            {
                "t": "set",
                "p": "state",
                "pt": "flow",
                "to": "premaster",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "premaster",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1330,
        "y": 700,
        "wires": [
            [
                "e044d962.8581f8"
            ]
        ]
    },
    {
        "id": "e044d962.8581f8",
        "type": "link out",
        "z": "6a56ad93.df0a9c",
        "name": "voice output",
        "links": [
            "7d371908.48f868"
        ],
        "x": 1475,
        "y": 700,
        "wires": []
    },
    {
        "id": "e757c852.239",
        "type": "switch",
        "z": "6a56ad93.df0a9c",
        "name": "state == premaster?",
        "property": "state",
        "propertyType": "flow",
        "rules": [
            {
                "t": "eq",
                "v": "premaster",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "outputs": 2,
        "x": 500,
        "y": 1320,
        "wires": [
            [
                "81489cd2.cb239"
            ],
            [
                "65d234bc.cf3fc4"
            ]
        ]
    },
    {
        "id": "d659d00d.256ec8",
        "type": "subflow:3693509f.dd0fb",
        "z": "6a56ad93.df0a9c",
        "name": "",
        "x": 810,
        "y": 1020,
        "wires": [
            [
                "88f34437.9a598"
            ]
        ]
    },
    {
        "id": "4ae03b4c.3d30ac",
        "type": "switch",
        "z": "6a56ad93.df0a9c",
        "name": "PIN == masterkey?",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "10082017",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "outputs": 2,
        "x": 990,
        "y": 1320,
        "wires": [
            [
                "923f47d8.ded2b",
                "b57124c8.09069"
            ],
            [
                "30b880e.793e5",
                "9be28a71.b587d"
            ]
        ]
    },
    {
        "id": "81489cd2.cb239",
        "type": "subflow:3693509f.dd0fb",
        "z": "6a56ad93.df0a9c",
        "x": 760,
        "y": 1320,
        "wires": [
            [
                "4ae03b4c.3d30ac"
            ]
        ]
    },
    {
        "id": "923f47d8.ded2b",
        "type": "change",
        "z": "6a56ad93.df0a9c",
        "name": "state = master",
        "rules": [
            {
                "t": "set",
                "p": "state",
                "pt": "flow",
                "to": "master",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "master",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1210,
        "y": 1300,
        "wires": [
            [
                "69218854.bb826"
            ]
        ]
    },
    {
        "id": "69218854.bb826",
        "type": "link out",
        "z": "6a56ad93.df0a9c",
        "name": "voice output",
        "links": [
            "7d371908.48f868"
        ],
        "x": 1345,
        "y": 1300,
        "wires": []
    },
    {
        "id": "30b880e.793e5",
        "type": "change",
        "z": "6a56ad93.df0a9c",
        "name": "state = disarmed",
        "rules": [
            {
                "t": "set",
                "p": "state",
                "pt": "flow",
                "to": "disarmed",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "disarmed",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1220,
        "y": 1340,
        "wires": [
            [
                "741ebdb4.9d8d2c"
            ]
        ]
    },
    {
        "id": "741ebdb4.9d8d2c",
        "type": "link out",
        "z": "6a56ad93.df0a9c",
        "name": "voice output",
        "links": [
            "7d371908.48f868"
        ],
        "x": 1345,
        "y": 1340,
        "wires": []
    },
    {
        "id": "65d234bc.cf3fc4",
        "type": "switch",
        "z": "6a56ad93.df0a9c",
        "name": "state == master?",
        "property": "state",
        "propertyType": "flow",
        "rules": [
            {
                "t": "eq",
                "v": "master",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "outputs": 2,
        "x": 480,
        "y": 1440,
        "wires": [
            [
                "4b6976fd.703b88"
            ],
            [
                "a5208c1a.964c98"
            ]
        ]
    },
    {
        "id": "4b6976fd.703b88",
        "type": "subflow:3693509f.dd0fb",
        "z": "6a56ad93.df0a9c",
        "x": 750,
        "y": 1440,
        "wires": [
            [
                "31ef5cf4.ea5cec",
                "47aedcba.0005dc"
            ]
        ]
    },
    {
        "id": "31ef5cf4.ea5cec",
        "type": "file",
        "z": "6a56ad93.df0a9c",
        "name": "write to KEY file",
        "filename": "/home/pi/keys",
        "appendNewline": true,
        "createDir": false,
        "overwriteFile": "false",
        "x": 1000,
        "y": 1440,
        "wires": []
    },
    {
        "id": "47aedcba.0005dc",
        "type": "change",
        "z": "6a56ad93.df0a9c",
        "name": "state = disarmed",
        "rules": [
            {
                "t": "set",
                "p": "state",
                "pt": "flow",
                "to": "disarmed",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "disarmed",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1000,
        "y": 1480,
        "wires": [
            [
                "ceeed549.dcc1a"
            ]
        ]
    },
    {
        "id": "ceeed549.dcc1a",
        "type": "link out",
        "z": "6a56ad93.df0a9c",
        "name": "voice output",
        "links": [
            "7d371908.48f868"
        ],
        "x": 1115,
        "y": 1480,
        "wires": []
    },
    {
        "id": "2c799d0f.e639aa",
        "type": "inject",
        "z": "6a56ad93.df0a9c",
        "name": "numberOfPinsTried?",
        "topic": "",
        "payload": "numberOfPinsTried",
        "payloadType": "global",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 1020,
        "y": 260,
        "wires": [
            [
                "b0d0bf9c.dfbbf"
            ]
        ]
    },
    {
        "id": "9fbcf7d3.cf8a98",
        "type": "comment",
        "z": "6a56ad93.df0a9c",
        "name": "Poll door state every 2 seconds",
        "info": "",
        "x": 410,
        "y": 320,
        "wires": []
    },
    {
        "id": "2c51db38.68dcbc",
        "type": "file in",
        "z": "6a56ad93.df0a9c",
        "name": "KEY file",
        "filename": "/home/pi/keys",
        "format": "lines",
        "chunk": false,
        "sendError": false,
        "x": 950,
        "y": 1140,
        "wires": [
            [
                "8b887ed0.331d08",
                "62debc25.71c1dc"
            ]
        ]
    },
    {
        "id": "88f34437.9a598",
        "type": "change",
        "z": "6a56ad93.df0a9c",
        "name": "store pin in flow",
        "rules": [
            {
                "t": "set",
                "p": "pin",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1040,
        "y": 1020,
        "wires": [
            [
                "b09352cc.80dde8"
            ]
        ]
    },
    {
        "id": "b09352cc.80dde8",
        "type": "function",
        "z": "6a56ad93.df0a9c",
        "name": "numberOfPinsTried++",
        "func": "var myTries = global.get(\"numberOfPinsTried\");\nglobal.set(\"numberOfPinsTried\", myTries+1);\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1260,
        "y": 1020,
        "wires": [
            [
                "2c51db38.68dcbc"
            ]
        ]
    },
    {
        "id": "8b887ed0.331d08",
        "type": "trigger",
        "z": "6a56ad93.df0a9c",
        "op1": "",
        "op2": "end",
        "op1type": "nul",
        "op2type": "str",
        "duration": "250",
        "extend": true,
        "units": "ms",
        "reset": "",
        "name": "",
        "x": 1150,
        "y": 1180,
        "wires": [
            [
                "c5708354.d819b"
            ]
        ]
    },
    {
        "id": "54bd6beb.146274",
        "type": "change",
        "z": "6a56ad93.df0a9c",
        "name": "keyValid = true",
        "rules": [
            {
                "t": "set",
                "p": "keyValid",
                "pt": "flow",
                "to": "true",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1390,
        "y": 1140,
        "wires": [
            []
        ]
    },
    {
        "id": "31100688.bba85a",
        "type": "change",
        "z": "6a56ad93.df0a9c",
        "name": "keyValid = true",
        "rules": [
            {
                "t": "set",
                "p": "keyValid",
                "pt": "flow",
                "to": "false",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1460,
        "y": 340,
        "wires": [
            [
                "b41038f0.4696a8"
            ]
        ]
    },
    {
        "id": "c5708354.d819b",
        "type": "switch",
        "z": "6a56ad93.df0a9c",
        "name": "keyValid == true?",
        "property": "keyValid",
        "propertyType": "flow",
        "rules": [
            {
                "t": "true"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "outputs": 2,
        "x": 1380,
        "y": 1180,
        "wires": [
            [
                "eec46468.acb7d"
            ],
            [
                "597f7aed.e4cb2c"
            ]
        ]
    },
    {
        "id": "521291ea.235b88",
        "type": "link in",
        "z": "6a56ad93.df0a9c",
        "name": "initialise",
        "links": [
            "c438d520.0ecf98",
            "e25b77e9.3ba8a8",
            "92fc3410.24dff8"
        ],
        "x": 1095,
        "y": 360,
        "wires": [
            [
                "aeaca153.bd3d98"
            ]
        ]
    },
    {
        "id": "990345d1.34092",
        "type": "change",
        "z": "6a56ad93.df0a9c",
        "name": "Pin dreimal falsch",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "Pin dreimal falsch. Alarm",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "reset",
                "pt": "msg",
                "to": "true",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1960,
        "y": 1300,
        "wires": [
            [
                "511c5651.3ff508",
                "516fb10c.812c6",
                "12e21c91.aa010b"
            ]
        ]
    },
    {
        "id": "12e21c91.aa010b",
        "type": "link out",
        "z": "6a56ad93.df0a9c",
        "name": "error",
        "links": [
            "7d371908.48f868"
        ],
        "x": 2145,
        "y": 1300,
        "wires": []
    },
    {
        "id": "8acdf57f.b96818",
        "type": "switch",
        "z": "6a56ad93.df0a9c",
        "name": "door closed? / door open?",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "4B00",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "4B01",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "outputs": 2,
        "x": 1060,
        "y": 560,
        "wires": [
            [
                "b91203a3.4e9a38"
            ],
            [
                "59aebda5.0d14fc"
            ]
        ]
    },
    {
        "id": "b91203a3.4e9a38",
        "type": "change",
        "z": "6a56ad93.df0a9c",
        "name": "doorState = closed",
        "rules": [
            {
                "t": "set",
                "p": "doorState",
                "pt": "flow",
                "to": "closed",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1310,
        "y": 540,
        "wires": [
            []
        ]
    },
    {
        "id": "95b8e463.ee7cf8",
        "type": "change",
        "z": "6a56ad93.df0a9c",
        "name": "doorState = closed",
        "rules": [
            {
                "t": "set",
                "p": "doorState",
                "pt": "flow",
                "to": "closed",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1450,
        "y": 380,
        "wires": [
            [
                "60af2d1f.4bbadc"
            ]
        ]
    },
    {
        "id": "59aebda5.0d14fc",
        "type": "change",
        "z": "6a56ad93.df0a9c",
        "name": "doorState = open",
        "rules": [
            {
                "t": "set",
                "p": "doorState",
                "pt": "flow",
                "to": "open",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1310,
        "y": 580,
        "wires": [
            []
        ]
    },
    {
        "id": "11cee890.a3cd0f",
        "type": "inject",
        "z": "6a56ad93.df0a9c",
        "name": "doorState?",
        "topic": "",
        "payload": "doorState",
        "payloadType": "flow",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 980,
        "y": 220,
        "wires": [
            [
                "b0d0bf9c.dfbbf"
            ]
        ]
    },
    {
        "id": "f9b1b3e3.b30e78",
        "type": "inject",
        "z": "6a56ad93.df0a9c",
        "name": "lastDoorState?",
        "topic": "",
        "payload": "lastDoorState",
        "payloadType": "flow",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 1000,
        "y": 180,
        "wires": [
            [
                "b0d0bf9c.dfbbf"
            ]
        ]
    },
    {
        "id": "46e5621e.d74f7c",
        "type": "change",
        "z": "6a56ad93.df0a9c",
        "name": "savedDoorState = doorState",
        "rules": [
            {
                "t": "set",
                "p": "savedDoorState",
                "pt": "flow",
                "to": "doorState",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1060,
        "y": 660,
        "wires": [
            [
                "22df7fd7.0f4bd"
            ]
        ]
    },
    {
        "id": "b57124c8.09069",
        "type": "change",
        "z": "6a56ad93.df0a9c",
        "name": "send LED pattern 'correct'",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "5201",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1250,
        "y": 1260,
        "wires": [
            [
                "45f37566.d0931c"
            ]
        ]
    },
    {
        "id": "45f37566.d0931c",
        "type": "link out",
        "z": "6a56ad93.df0a9c",
        "name": "",
        "links": [
            "b29feaf6.a5c7f8",
            "17d9efb5.f346c8"
        ],
        "x": 1405,
        "y": 1260,
        "wires": []
    },
    {
        "id": "9be28a71.b587d",
        "type": "change",
        "z": "6a56ad93.df0a9c",
        "name": "send LED pattern 'false'",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "5200",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1240,
        "y": 1380,
        "wires": [
            [
                "d34c232d.bf7208"
            ]
        ]
    },
    {
        "id": "d34c232d.bf7208",
        "type": "link out",
        "z": "6a56ad93.df0a9c",
        "name": "",
        "links": [
            "b29feaf6.a5c7f8",
            "17d9efb5.f346c8"
        ],
        "x": 1405,
        "y": 1380,
        "wires": []
    },
    {
        "id": "60af2d1f.4bbadc",
        "type": "change",
        "z": "6a56ad93.df0a9c",
        "name": "savedDoorState = closed",
        "rules": [
            {
                "t": "set",
                "p": "savedDoorState",
                "pt": "flow",
                "to": "closed",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1270,
        "y": 420,
        "wires": [
            [
                "b4e29070.ac46c"
            ]
        ]
    },
    {
        "id": "d860ede9.6ac0d",
        "type": "change",
        "z": "6a56ad93.df0a9c",
        "name": "savedDoorState = open",
        "rules": [
            {
                "t": "set",
                "p": "savedDoorState",
                "pt": "flow",
                "to": "open",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1150,
        "y": 800,
        "wires": [
            []
        ]
    },
    {
        "id": "49fac2bd.3b1a24",
        "type": "switch",
        "z": "6a56ad93.df0a9c",
        "name": "savedDoorState == open?",
        "property": "savedDoorState",
        "propertyType": "flow",
        "rules": [
            {
                "t": "eq",
                "v": "open",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "outputs": 1,
        "x": 1160,
        "y": 760,
        "wires": [
            [
                "d5a0513a.4ac57"
            ]
        ]
    },
    {
        "id": "9b1f58b0.acf3",
        "type": "file in",
        "z": "6a56ad93.df0a9c",
        "name": "MAIL file",
        "filename": "/home/pi/alarmSubscribers",
        "format": "lines",
        "chunk": false,
        "sendError": false,
        "x": 2080,
        "y": 640,
        "wires": [
            [
                "e994b8d7.714cf8"
            ]
        ]
    },
    {
        "id": "e994b8d7.714cf8",
        "type": "change",
        "z": "6a56ad93.df0a9c",
        "name": "load from flow.mailContent",
        "rules": [
            {
                "t": "set",
                "p": "to",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "mailContent",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 2320,
        "y": 680,
        "wires": [
            [
                "e40b36e1.1464a",
                "cfdae0f7.9ec74"
            ]
        ]
    },
    {
        "id": "e40b36e1.1464a",
        "type": "debug",
        "z": "6a56ad93.df0a9c",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "to",
        "x": 2420,
        "y": 580,
        "wires": []
    },
    {
        "id": "812f8245.4f0d18",
        "type": "change",
        "z": "6a56ad93.df0a9c",
        "name": "save to flow.mailContent",
        "rules": [
            {
                "t": "set",
                "p": "mailContent",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1820,
        "y": 620,
        "wires": [
            [
                "9b1f58b0.acf3"
            ]
        ]
    }
]