door_keypad_server/door_keypad_server.txt
[
    {
        "id": "fb2d21c.c86cbe",
        "type": "subflow",
        "name": "Read Keypad or NFC",
        "info": "",
        "in": [
            {
                "x": 60,
                "y": 120,
                "wires": [
                    {
                        "id": "12680a0b.17f956"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 980,
                "y": 120,
                "wires": [
                    {
                        "id": "4404872f.fefa98",
                        "port": 0
                    }
                ]
            }
        ]
    },
    {
        "id": "4404872f.fefa98",
        "type": "join",
        "z": "fb2d21c.c86cbe",
        "name": "combine PIN",
        "mode": "custom",
        "build": "string",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "",
        "joinerType": "str",
        "accumulate": false,
        "timeout": "",
        "count": "",
        "x": 850,
        "y": 120,
        "wires": [
            []
        ]
    },
    {
        "id": "6b6c54af.87280c",
        "type": "change",
        "z": "fb2d21c.c86cbe",
        "name": "set msg.complete",
        "rules": [
            {
                "t": "set",
                "p": "complete",
                "pt": "msg",
                "to": "true",
                "tot": "bool"
            },
            {
                "t": "delete",
                "p": "payload",
                "pt": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 670,
        "y": 100,
        "wires": [
            [
                "4404872f.fefa98"
            ]
        ]
    },
    {
        "id": "12680a0b.17f956",
        "type": "function",
        "z": "fb2d21c.c86cbe",
        "name": "HEX to ASCII",
        "func": "msg.payload = hex2a(msg.payload);\nreturn msg;\n\n\nfunction hex2a(hexx) {\n    var hex = hexx.toString();//force conversion\n    var str = '';\n    for (var i = 0; i < hex.length; i += 2)\n        str += String.fromCharCode(parseInt(hex.substr(i, 2), 16));\n    return str;\n}",
        "outputs": 1,
        "noerr": 0,
        "x": 190,
        "y": 120,
        "wires": [
            [
                "32bec25f.b117fe"
            ]
        ]
    },
    {
        "id": "32bec25f.b117fe",
        "type": "switch",
        "z": "fb2d21c.c86cbe",
        "name": "split 'D' and remove 'K'",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "D",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "K",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "outputs": 3,
        "x": 400,
        "y": 120,
        "wires": [
            [
                "6b6c54af.87280c"
            ],
            [],
            [
                "4404872f.fefa98"
            ]
        ]
    },
    {
        "id": "8af6d862.9ee198",
        "type": "function",
        "z": "1cd1c560.9957bb",
        "name": "insert 'S'",
        "func": "msg.payload = 'S';\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 560,
        "y": 360,
        "wires": [
            [
                "422606e2.d44358"
            ]
        ]
    },
    {
        "id": "3ebc7c58.339274",
        "type": "inject",
        "z": "1cd1c560.9957bb",
        "name": "tick every 2 sec",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "2",
        "crontab": "",
        "once": false,
        "x": 389,
        "y": 360.0000009536743,
        "wires": [
            [
                "8af6d862.9ee198"
            ]
        ]
    },
    {
        "id": "422606e2.d44358",
        "type": "serial out",
        "z": "1cd1c560.9957bb",
        "name": "serial-TX",
        "serial": "2473bf0.5439a42",
        "x": 748,
        "y": 359,
        "wires": []
    },
    {
        "id": "73127b16.b2e654",
        "type": "serial in",
        "z": "1cd1c560.9957bb",
        "name": "serial-RX",
        "serial": "2473bf0.5439a42",
        "x": 330,
        "y": 480,
        "wires": [
            [
                "f8541891.56e758"
            ]
        ]
    },
    {
        "id": "f8541891.56e758",
        "type": "function",
        "z": "1cd1c560.9957bb",
        "name": "ASCII to HEX",
        "func": "var rxString = msg.payload;\nvar rxHex = (\"0\" + rxString.charCodeAt(0).toString(16)).slice(-2);\nmsg.payload = rxHex;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 520,
        "y": 480,
        "wires": [
            [
                "f529b0ea.6d86c"
            ]
        ]
    },
    {
        "id": "f529b0ea.6d86c",
        "type": "function",
        "z": "1cd1c560.9957bb",
        "name": "combine '4Bxx'",
        "func": "context.state = context.state || 0;\n\n// if '4b' -> set to combine state\nif (msg.payload == '4b')\n{\n    context.state = 1;\n    return null;\n}\n// if combine state -> prepend '4b'\nelse if ( context.state == 1 && ( msg.payload == 00 || msg.payload == 01) )\n{\n    msg.payload = '4B' + msg.payload;\n    context.state = 0;\n    return msg;\n}\n// all other msgs are returned as they are\nelse\n{\n    return msg;\n}",
        "outputs": 1,
        "noerr": 0,
        "x": 690,
        "y": 480,
        "wires": [
            [
                "e41d7d97.e0305",
                "81903a32.fda638",
                "ac81ba6.ae07e48"
            ]
        ]
    },
    {
        "id": "c919c4a5.c00d48",
        "type": "switch",
        "z": "1cd1c560.9957bb",
        "name": "KEY file contains PIN?",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "pin",
                "vt": "flow"
            }
        ],
        "checkall": "true",
        "outputs": 1,
        "x": 1180,
        "y": 1140,
        "wires": [
            [
                "cb91e2f8.a000d"
            ]
        ]
    },
    {
        "id": "7b3903d0.46d47c",
        "type": "change",
        "z": "1cd1c560.9957bb",
        "name": "korrekt",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "PIN korrekt",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1630,
        "y": 1120,
        "wires": [
            [
                "a947b30b.b7ab5",
                "555209da.00e428",
                "5d14e007.43e18"
            ]
        ]
    },
    {
        "id": "707b248b.b23cac",
        "type": "change",
        "z": "1cd1c560.9957bb",
        "name": "falsch",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "PIN falsch",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1620,
        "y": 1240,
        "wires": [
            [
                "c54cba3c.8ce268",
                "3a88c1e2.73ab0e",
                "584b54e6.99763c",
                "c7a9ec34.2d04f"
            ]
        ]
    },
    {
        "id": "a328d0da.9296a",
        "type": "change",
        "z": "1cd1c560.9957bb",
        "name": "state = prearmed",
        "rules": [
            {
                "t": "set",
                "p": "state",
                "pt": "flow",
                "to": "prearmed",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "pri armt",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1330,
        "y": 660,
        "wires": [
            [
                "6836f633.c08238"
            ]
        ]
    },
    {
        "id": "a947b30b.b7ab5",
        "type": "change",
        "z": "1cd1c560.9957bb",
        "name": "reset alarm trigger",
        "rules": [
            {
                "t": "set",
                "p": "reset",
                "pt": "msg",
                "to": "true",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1861,
        "y": 1093,
        "wires": [
            [
                "c9cee5fa.c071f8"
            ]
        ]
    },
    {
        "id": "dd5ecade.d0b7b8",
        "type": "serial out",
        "z": "1cd1c560.9957bb",
        "name": "LED flash",
        "serial": "2473bf0.5439a42",
        "x": 2332,
        "y": 268,
        "wires": []
    },
    {
        "id": "fb8ebb8d.8d3938",
        "type": "function",
        "z": "1cd1c560.9957bb",
        "name": "HEX to ASCII",
        "func": "msg.payload = hex2a(msg.payload);\nreturn msg;\n\n\nfunction hex2a(hexx) {\n    var hex = hexx.toString();//force conversion\n    var str = '';\n    for (var i = 0; i < hex.length; i += 2)\n        str += String.fromCharCode(parseInt(hex.substr(i, 2), 16));\n    return str;\n}",
        "outputs": 1,
        "noerr": 0,
        "x": 2152,
        "y": 268,
        "wires": [
            [
                "dd5ecade.d0b7b8"
            ]
        ]
    },
    {
        "id": "defd2274.ad309",
        "type": "switch",
        "z": "1cd1c560.9957bb",
        "name": "state == prearmed?",
        "property": "state",
        "propertyType": "flow",
        "rules": [
            {
                "t": "eq",
                "v": "prearmed",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "outputs": 2,
        "x": 520,
        "y": 800,
        "wires": [
            [
                "c74686bc.b6e138"
            ],
            [
                "f5973599.3f90e8"
            ]
        ]
    },
    {
        "id": "c74686bc.b6e138",
        "type": "switch",
        "z": "1cd1c560.9957bb",
        "name": "(Tür zu?) oder (Tür auf?) oder ('D')",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "4B00",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "4B01",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "44",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "outputs": 3,
        "x": 850,
        "y": 800,
        "wires": [
            [
                "99d96734.8a7518"
            ],
            [
                "db85dde5.37e2d"
            ],
            [
                "e501c404.95db38"
            ]
        ]
    },
    {
        "id": "e501c404.95db38",
        "type": "change",
        "z": "1cd1c560.9957bb",
        "name": "state = disarmed",
        "rules": [
            {
                "t": "set",
                "p": "state",
                "pt": "flow",
                "to": "disarmed",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "diss-armt",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1130,
        "y": 840,
        "wires": [
            [
                "880f90f2.0d2c8"
            ]
        ]
    },
    {
        "id": "899fc8da.155728",
        "type": "change",
        "z": "1cd1c560.9957bb",
        "name": "state = armed",
        "rules": [
            {
                "t": "set",
                "p": "state",
                "pt": "flow",
                "to": "armed",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "Die Alarmanlage ist nun scharf",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1420,
        "y": 760,
        "wires": [
            [
                "d3b60970.8c66b8"
            ]
        ]
    },
    {
        "id": "f5973599.3f90e8",
        "type": "switch",
        "z": "1cd1c560.9957bb",
        "name": "state == armed?",
        "property": "state",
        "propertyType": "flow",
        "rules": [
            {
                "t": "eq",
                "v": "armed",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "outputs": 2,
        "x": 500,
        "y": 920,
        "wires": [
            [
                "851090c1.e7eb7"
            ],
            [
                "2ea0570c.5ebc88"
            ]
        ]
    },
    {
        "id": "81903a32.fda638",
        "type": "switch",
        "z": "1cd1c560.9957bb",
        "name": "state == disarmed?",
        "property": "state",
        "propertyType": "flow",
        "rules": [
            {
                "t": "eq",
                "v": "disarmed",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 510,
        "y": 700,
        "wires": [
            [
                "969adbe8.db1bf8",
                "7ca81f23.28485",
                "f8b63666.b1b668"
            ],
            [
                "defd2274.ad309"
            ]
        ]
    },
    {
        "id": "969adbe8.db1bf8",
        "type": "switch",
        "z": "1cd1c560.9957bb",
        "name": "payload == 'A'?",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "41",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "outputs": 1,
        "x": 790,
        "y": 660,
        "wires": [
            [
                "63aa57d9.2b92b8"
            ]
        ]
    },
    {
        "id": "7edb42de.7405ac",
        "type": "change",
        "z": "1cd1c560.9957bb",
        "name": "ERROR: unknown state",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "Fehler",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "ERROR: unknown state",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 510,
        "y": 1560,
        "wires": [
            [
                "f708341e.acb6a8"
            ]
        ]
    },
    {
        "id": "851090c1.e7eb7",
        "type": "switch",
        "z": "1cd1c560.9957bb",
        "name": "Tür auf?",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "4B01",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "outputs": 1,
        "x": 780,
        "y": 920,
        "wires": [
            [
                "332da7a1.beb2e8"
            ]
        ]
    },
    {
        "id": "332da7a1.beb2e8",
        "type": "change",
        "z": "1cd1c560.9957bb",
        "name": "state = intruder",
        "rules": [
            {
                "t": "set",
                "p": "state",
                "pt": "flow",
                "to": "intruder",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "intruder",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1040,
        "y": 920,
        "wires": [
            [
                "149dcbe.f55f034",
                "16d3253b.e50e8b",
                "c9cee5fa.c071f8"
            ]
        ]
    },
    {
        "id": "2ea0570c.5ebc88",
        "type": "switch",
        "z": "1cd1c560.9957bb",
        "name": "state == intruder?",
        "property": "state",
        "propertyType": "flow",
        "rules": [
            {
                "t": "eq",
                "v": "intruder",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "outputs": 2,
        "x": 510,
        "y": 1000,
        "wires": [
            [
                "a63ccecd.6ea5b"
            ],
            [
                "788e8f44.8d509"
            ]
        ]
    },
    {
        "id": "5c7453af.afcd9c",
        "type": "function",
        "z": "1cd1c560.9957bb",
        "name": "collect signals",
        "func": "\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 2162,
        "y": 328,
        "wires": [
            [
                "47acfdc5.79ce64"
            ]
        ]
    },
    {
        "id": "47acfdc5.79ce64",
        "type": "play audio",
        "z": "1cd1c560.9957bb",
        "name": "",
        "voice": "0",
        "x": 2332,
        "y": 328,
        "wires": []
    },
    {
        "id": "3149e04a.6357e",
        "type": "inject",
        "z": "1cd1c560.9957bb",
        "name": "State?",
        "topic": "",
        "payload": "state",
        "payloadType": "flow",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 970,
        "y": 300,
        "wires": [
            [
                "4ef628a9.41ae68"
            ]
        ]
    },
    {
        "id": "4ef628a9.41ae68",
        "type": "debug",
        "z": "1cd1c560.9957bb",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "x": 1290,
        "y": 260,
        "wires": []
    },
    {
        "id": "15fb4e4c.305922",
        "type": "inject",
        "z": "1cd1c560.9957bb",
        "name": "initialisation",
        "topic": "",
        "payload": "true",
        "payloadType": "bool",
        "repeat": "",
        "crontab": "",
        "once": true,
        "x": 990,
        "y": 340,
        "wires": [
            [
                "70c9cebc.a69dd"
            ]
        ]
    },
    {
        "id": "bdf59df9.1f5fc",
        "type": "change",
        "z": "1cd1c560.9957bb",
        "name": "state = disarmed",
        "rules": [
            {
                "t": "set",
                "p": "state",
                "pt": "flow",
                "to": "disarmed",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "diss-armt",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1250,
        "y": 380,
        "wires": [
            [
                "957f0ced.a9d4c"
            ]
        ]
    },
    {
        "id": "e41d7d97.e0305",
        "type": "trigger",
        "z": "1cd1c560.9957bb",
        "op1": "",
        "op2": "timeout",
        "op1type": "nul",
        "op2type": "str",
        "duration": "10",
        "extend": true,
        "units": "s",
        "reset": "",
        "name": "arduino timeout (10s)",
        "x": 1040,
        "y": 480,
        "wires": [
            [
                "5932be0e.2efbc"
            ]
        ]
    },
    {
        "id": "5932be0e.2efbc",
        "type": "change",
        "z": "1cd1c560.9957bb",
        "name": "ERROR: client timeout",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "timeout",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "ERROR: client timeout",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1287.047607421875,
        "y": 479.5714416503906,
        "wires": [
            [
                "7170d0e9.4c23a"
            ]
        ]
    },
    {
        "id": "f62b2d01.7c4da",
        "type": "link in",
        "z": "1cd1c560.9957bb",
        "name": "send to Arduino",
        "links": [
            "d8046073.53f68",
            "e86f34a6.8b7ed8",
            "db20f9d5.0de828",
            "27bdae97.533952",
            "d25215b2.6839f8",
            "1d23f22.50ecc0e"
        ],
        "x": 2037,
        "y": 268,
        "wires": [
            [
                "fb8ebb8d.8d3938"
            ]
        ]
    },
    {
        "id": "d8046073.53f68",
        "type": "link out",
        "z": "1cd1c560.9957bb",
        "name": "",
        "links": [
            "f62b2d01.7c4da"
        ],
        "x": 1315,
        "y": 940,
        "wires": []
    },
    {
        "id": "149dcbe.f55f034",
        "type": "change",
        "z": "1cd1c560.9957bb",
        "name": "'5202'",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "5202",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1230,
        "y": 940,
        "wires": [
            [
                "d8046073.53f68"
            ]
        ]
    },
    {
        "id": "3a88c1e2.73ab0e",
        "type": "change",
        "z": "1cd1c560.9957bb",
        "name": "'5202'",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "5202",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1740,
        "y": 1260,
        "wires": [
            [
                "e86f34a6.8b7ed8"
            ]
        ]
    },
    {
        "id": "e86f34a6.8b7ed8",
        "type": "link out",
        "z": "1cd1c560.9957bb",
        "name": "",
        "links": [
            "f62b2d01.7c4da",
            "17d9efb5.f346c8"
        ],
        "x": 1825,
        "y": 1260,
        "wires": []
    },
    {
        "id": "c54cba3c.8ce268",
        "type": "change",
        "z": "1cd1c560.9957bb",
        "name": "send LED pattern 'false'",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "5200",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1800,
        "y": 1220,
        "wires": [
            [
                "27bdae97.533952"
            ]
        ]
    },
    {
        "id": "27bdae97.533952",
        "type": "link out",
        "z": "1cd1c560.9957bb",
        "name": "",
        "links": [
            "f62b2d01.7c4da",
            "17d9efb5.f346c8"
        ],
        "x": 1945,
        "y": 1220,
        "wires": []
    },
    {
        "id": "555209da.00e428",
        "type": "change",
        "z": "1cd1c560.9957bb",
        "name": "send LED pattern 'correct'",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "5201",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1850,
        "y": 1140,
        "wires": [
            [
                "db20f9d5.0de828"
            ]
        ]
    },
    {
        "id": "db20f9d5.0de828",
        "type": "link out",
        "z": "1cd1c560.9957bb",
        "name": "",
        "links": [
            "f62b2d01.7c4da",
            "17d9efb5.f346c8"
        ],
        "x": 2005,
        "y": 1140,
        "wires": []
    },
    {
        "id": "a05a00ad.dcdaa",
        "type": "e-mail",
        "z": "1cd1c560.9957bb",
        "server": "smtp.gmail.com",
        "port": "465",
        "secure": true,
        "name": "martin.gritzan@gmail.com",
        "dname": "send error mail",
        "x": 2342,
        "y": 388,
        "wires": []
    },
    {
        "id": "f708341e.acb6a8",
        "type": "link out",
        "z": "1cd1c560.9957bb",
        "name": "error",
        "links": [
            "9ad4091.3600ef8",
            "14cff67d.5db59a"
        ],
        "x": 645,
        "y": 1560,
        "wires": []
    },
    {
        "id": "14cff67d.5db59a",
        "type": "link in",
        "z": "1cd1c560.9957bb",
        "name": "send mail",
        "links": [
            "ce47b68.a7b6b48",
            "7170d0e9.4c23a",
            "f708341e.acb6a8"
        ],
        "x": 2037,
        "y": 390,
        "wires": [
            [
                "a05a00ad.dcdaa",
                "1fedd4d3.5a1d5b"
            ]
        ]
    },
    {
        "id": "7170d0e9.4c23a",
        "type": "link out",
        "z": "1cd1c560.9957bb",
        "name": "error",
        "links": [
            "9ad4091.3600ef8",
            "14cff67d.5db59a"
        ],
        "x": 1435,
        "y": 480,
        "wires": []
    },
    {
        "id": "5d14e007.43e18",
        "type": "link out",
        "z": "1cd1c560.9957bb",
        "name": "",
        "links": [
            "33e98a02.220826",
            "9ad4091.3600ef8"
        ],
        "x": 2065,
        "y": 1120,
        "wires": []
    },
    {
        "id": "584b54e6.99763c",
        "type": "link out",
        "z": "1cd1c560.9957bb",
        "name": "error",
        "links": [
            "9ad4091.3600ef8"
        ],
        "x": 1985,
        "y": 1240,
        "wires": []
    },
    {
        "id": "16d3253b.e50e8b",
        "type": "link out",
        "z": "1cd1c560.9957bb",
        "name": "voice output",
        "links": [
            "9ad4091.3600ef8"
        ],
        "x": 1415,
        "y": 920,
        "wires": []
    },
    {
        "id": "9ad4091.3600ef8",
        "type": "link in",
        "z": "1cd1c560.9957bb",
        "name": "voice output",
        "links": [
            "16d3253b.e50e8b",
            "5d14e007.43e18",
            "584b54e6.99763c",
            "80c55b3d.a5ffc8",
            "ef04039c.378798",
            "880f90f2.0d2c8",
            "d3b60970.8c66b8",
            "6836f633.c08238",
            "315ee643.49f24a",
            "76589589.cf938c",
            "36f51f8f.3d1ee",
            "f4f9c07d.5884a",
            "fa136bc7.e242f8",
            "b19cf12.73b059",
            "7170d0e9.4c23a",
            "f708341e.acb6a8",
            "520f3712.922798"
        ],
        "x": 2037,
        "y": 328,
        "wires": [
            [
                "5c7453af.afcd9c"
            ]
        ]
    },
    {
        "id": "880f90f2.0d2c8",
        "type": "link out",
        "z": "1cd1c560.9957bb",
        "name": "voice output",
        "links": [
            "9ad4091.3600ef8"
        ],
        "x": 1255,
        "y": 840,
        "wires": []
    },
    {
        "id": "d3b60970.8c66b8",
        "type": "link out",
        "z": "1cd1c560.9957bb",
        "name": "voice output",
        "links": [
            "9ad4091.3600ef8"
        ],
        "x": 1555,
        "y": 760,
        "wires": []
    },
    {
        "id": "6836f633.c08238",
        "type": "link out",
        "z": "1cd1c560.9957bb",
        "name": "voice output",
        "links": [
            "9ad4091.3600ef8"
        ],
        "x": 1475,
        "y": 660,
        "wires": []
    },
    {
        "id": "315ee643.49f24a",
        "type": "link out",
        "z": "1cd1c560.9957bb",
        "name": "voice output",
        "links": [
            "9ad4091.3600ef8"
        ],
        "x": 1515,
        "y": 420,
        "wires": []
    },
    {
        "id": "c9cee5fa.c071f8",
        "type": "trigger",
        "z": "1cd1c560.9957bb",
        "op1": "",
        "op2": "Zwei Minuten um. Alarm",
        "op1type": "nul",
        "op2type": "str",
        "duration": "2",
        "extend": false,
        "units": "min",
        "reset": "",
        "name": "alarm trigger (2min)",
        "x": 1290,
        "y": 900,
        "wires": [
            [
                "16d3253b.e50e8b",
                "8ad587ca.4aebb8"
            ]
        ]
    },
    {
        "id": "ce47b68.a7b6b48",
        "type": "link out",
        "z": "1cd1c560.9957bb",
        "name": "error",
        "links": [
            "14cff67d.5db59a"
        ],
        "x": 2175,
        "y": 1020,
        "wires": []
    },
    {
        "id": "7dd4ff84.ab183",
        "type": "change",
        "z": "1cd1c560.9957bb",
        "name": "add sender",
        "rules": [
            {
                "t": "set",
                "p": "from",
                "pt": "msg",
                "to": "German shepherd's pie",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 2110,
        "y": 540,
        "wires": [
            []
        ]
    },
    {
        "id": "8ad587ca.4aebb8",
        "type": "change",
        "z": "1cd1c560.9957bb",
        "name": "ALARM: intruder detected",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "Intruder! - or really pissed wife :-(",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "ALARM: intruder detected",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 2030,
        "y": 1020,
        "wires": [
            [
                "ce47b68.a7b6b48"
            ]
        ]
    },
    {
        "id": "70c9cebc.a69dd",
        "type": "change",
        "z": "1cd1c560.9957bb",
        "name": "numberOfPinsTried = 0",
        "rules": [
            {
                "t": "set",
                "p": "numberOfPinsTried",
                "pt": "global",
                "to": "0",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1260,
        "y": 340,
        "wires": [
            [
                "de890165.6c65"
            ]
        ]
    },
    {
        "id": "c7a9ec34.2d04f",
        "type": "switch",
        "z": "1cd1c560.9957bb",
        "name": "numberOfPinsTried == 3",
        "property": "numberOfPinsTried",
        "propertyType": "global",
        "rules": [
            {
                "t": "eq",
                "v": "3",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "outputs": 1,
        "x": 1740,
        "y": 1300,
        "wires": [
            [
                "1c06d5f4.191e9a"
            ]
        ]
    },
    {
        "id": "30c81738.691f98",
        "type": "debug",
        "z": "1cd1c560.9957bb",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "x": 2440,
        "y": 540,
        "wires": []
    },
    {
        "id": "7ca81f23.28485",
        "type": "switch",
        "z": "1cd1c560.9957bb",
        "name": "payload == '*'?",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "2a",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "outputs": 1,
        "x": 790,
        "y": 700,
        "wires": [
            [
                "63743795.644f58"
            ]
        ]
    },
    {
        "id": "63743795.644f58",
        "type": "change",
        "z": "1cd1c560.9957bb",
        "name": "state = premaster",
        "rules": [
            {
                "t": "set",
                "p": "state",
                "pt": "flow",
                "to": "premaster",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "premaster",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1330,
        "y": 700,
        "wires": [
            [
                "76589589.cf938c"
            ]
        ]
    },
    {
        "id": "76589589.cf938c",
        "type": "link out",
        "z": "1cd1c560.9957bb",
        "name": "voice output",
        "links": [
            "9ad4091.3600ef8"
        ],
        "x": 1475,
        "y": 700,
        "wires": []
    },
    {
        "id": "788e8f44.8d509",
        "type": "switch",
        "z": "1cd1c560.9957bb",
        "name": "state == premaster?",
        "property": "state",
        "propertyType": "flow",
        "rules": [
            {
                "t": "eq",
                "v": "premaster",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "outputs": 2,
        "x": 500,
        "y": 1320,
        "wires": [
            [
                "370c5005.95305"
            ],
            [
                "7ac72b31.fbe8b4"
            ]
        ]
    },
    {
        "id": "a63ccecd.6ea5b",
        "type": "subflow:fb2d21c.c86cbe",
        "z": "1cd1c560.9957bb",
        "name": "",
        "x": 810,
        "y": 1020,
        "wires": [
            [
                "d09c34d3.715968"
            ]
        ]
    },
    {
        "id": "da039c57.bce2e",
        "type": "switch",
        "z": "1cd1c560.9957bb",
        "name": "PIN == masterkey?",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "10082017",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "outputs": 2,
        "x": 990,
        "y": 1320,
        "wires": [
            [
                "1195054e.ff200b",
                "5bb4d40e.66a48c"
            ],
            [
                "ef5be08e.77e52",
                "647a41af.3c09f"
            ]
        ]
    },
    {
        "id": "370c5005.95305",
        "type": "subflow:fb2d21c.c86cbe",
        "z": "1cd1c560.9957bb",
        "x": 760,
        "y": 1320,
        "wires": [
            [
                "da039c57.bce2e"
            ]
        ]
    },
    {
        "id": "1195054e.ff200b",
        "type": "change",
        "z": "1cd1c560.9957bb",
        "name": "state = master",
        "rules": [
            {
                "t": "set",
                "p": "state",
                "pt": "flow",
                "to": "master",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "master",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1210,
        "y": 1300,
        "wires": [
            [
                "36f51f8f.3d1ee"
            ]
        ]
    },
    {
        "id": "36f51f8f.3d1ee",
        "type": "link out",
        "z": "1cd1c560.9957bb",
        "name": "voice output",
        "links": [
            "9ad4091.3600ef8"
        ],
        "x": 1345,
        "y": 1300,
        "wires": []
    },
    {
        "id": "ef5be08e.77e52",
        "type": "change",
        "z": "1cd1c560.9957bb",
        "name": "state = disarmed",
        "rules": [
            {
                "t": "set",
                "p": "state",
                "pt": "flow",
                "to": "disarmed",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "disarmed",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1220,
        "y": 1340,
        "wires": [
            [
                "f4f9c07d.5884a"
            ]
        ]
    },
    {
        "id": "f4f9c07d.5884a",
        "type": "link out",
        "z": "1cd1c560.9957bb",
        "name": "voice output",
        "links": [
            "9ad4091.3600ef8"
        ],
        "x": 1345,
        "y": 1340,
        "wires": []
    },
    {
        "id": "7ac72b31.fbe8b4",
        "type": "switch",
        "z": "1cd1c560.9957bb",
        "name": "state == master?",
        "property": "state",
        "propertyType": "flow",
        "rules": [
            {
                "t": "eq",
                "v": "master",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "outputs": 2,
        "x": 480,
        "y": 1440,
        "wires": [
            [
                "854faa05.b93728"
            ],
            [
                "7edb42de.7405ac"
            ]
        ]
    },
    {
        "id": "854faa05.b93728",
        "type": "subflow:fb2d21c.c86cbe",
        "z": "1cd1c560.9957bb",
        "x": 750,
        "y": 1440,
        "wires": [
            [
                "492ff587.33be9c",
                "64f146d6.676888"
            ]
        ]
    },
    {
        "id": "492ff587.33be9c",
        "type": "file",
        "z": "1cd1c560.9957bb",
        "name": "write to KEY file",
        "filename": "/home/pi/keys",
        "appendNewline": true,
        "createDir": false,
        "overwriteFile": "false",
        "x": 1000,
        "y": 1440,
        "wires": []
    },
    {
        "id": "64f146d6.676888",
        "type": "change",
        "z": "1cd1c560.9957bb",
        "name": "state = disarmed",
        "rules": [
            {
                "t": "set",
                "p": "state",
                "pt": "flow",
                "to": "disarmed",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "disarmed",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1000,
        "y": 1480,
        "wires": [
            [
                "fa136bc7.e242f8"
            ]
        ]
    },
    {
        "id": "fa136bc7.e242f8",
        "type": "link out",
        "z": "1cd1c560.9957bb",
        "name": "voice output",
        "links": [
            "9ad4091.3600ef8"
        ],
        "x": 1115,
        "y": 1480,
        "wires": []
    },
    {
        "id": "e8fd0163.543e4",
        "type": "inject",
        "z": "1cd1c560.9957bb",
        "name": "numberOfPinsTried?",
        "topic": "",
        "payload": "numberOfPinsTried",
        "payloadType": "global",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 1020,
        "y": 260,
        "wires": [
            [
                "4ef628a9.41ae68"
            ]
        ]
    },
    {
        "id": "10e0ce56.b4ce92",
        "type": "comment",
        "z": "1cd1c560.9957bb",
        "name": "Poll door state every 2 seconds",
        "info": "",
        "x": 410,
        "y": 320,
        "wires": []
    },
    {
        "id": "750175ab.f44f4c",
        "type": "file in",
        "z": "1cd1c560.9957bb",
        "name": "KEY file",
        "filename": "/home/pi/keys",
        "format": "lines",
        "chunk": false,
        "sendError": false,
        "x": 950,
        "y": 1140,
        "wires": [
            [
                "b83fb209.c73c",
                "c919c4a5.c00d48"
            ]
        ]
    },
    {
        "id": "d09c34d3.715968",
        "type": "change",
        "z": "1cd1c560.9957bb",
        "name": "store pin in flow",
        "rules": [
            {
                "t": "set",
                "p": "pin",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1040,
        "y": 1020,
        "wires": [
            [
                "6df60611.ca0e48"
            ]
        ]
    },
    {
        "id": "6df60611.ca0e48",
        "type": "function",
        "z": "1cd1c560.9957bb",
        "name": "numberOfPinsTried++",
        "func": "var myTries = global.get(\"numberOfPinsTried\");\nglobal.set(\"numberOfPinsTried\", myTries+1);\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1260,
        "y": 1020,
        "wires": [
            [
                "750175ab.f44f4c"
            ]
        ]
    },
    {
        "id": "b83fb209.c73c",
        "type": "trigger",
        "z": "1cd1c560.9957bb",
        "op1": "",
        "op2": "end",
        "op1type": "nul",
        "op2type": "str",
        "duration": "250",
        "extend": true,
        "units": "ms",
        "reset": "",
        "name": "",
        "x": 1150,
        "y": 1180,
        "wires": [
            [
                "12fce40d.15ce5c"
            ]
        ]
    },
    {
        "id": "cb91e2f8.a000d",
        "type": "change",
        "z": "1cd1c560.9957bb",
        "name": "keyValid = true",
        "rules": [
            {
                "t": "set",
                "p": "keyValid",
                "pt": "flow",
                "to": "true",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1390,
        "y": 1140,
        "wires": [
            []
        ]
    },
    {
        "id": "de890165.6c65",
        "type": "change",
        "z": "1cd1c560.9957bb",
        "name": "keyValid = true",
        "rules": [
            {
                "t": "set",
                "p": "keyValid",
                "pt": "flow",
                "to": "false",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1460,
        "y": 340,
        "wires": [
            [
                "bdf59df9.1f5fc"
            ]
        ]
    },
    {
        "id": "12fce40d.15ce5c",
        "type": "switch",
        "z": "1cd1c560.9957bb",
        "name": "keyValid == true?",
        "property": "keyValid",
        "propertyType": "flow",
        "rules": [
            {
                "t": "true"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "outputs": 2,
        "x": 1380,
        "y": 1180,
        "wires": [
            [
                "7b3903d0.46d47c"
            ],
            [
                "707b248b.b23cac"
            ]
        ]
    },
    {
        "id": "33e98a02.220826",
        "type": "link in",
        "z": "1cd1c560.9957bb",
        "name": "initialise",
        "links": [
            "c438d520.0ecf98",
            "e25b77e9.3ba8a8",
            "5d14e007.43e18"
        ],
        "x": 1095,
        "y": 360,
        "wires": [
            [
                "70c9cebc.a69dd"
            ]
        ]
    },
    {
        "id": "1c06d5f4.191e9a",
        "type": "change",
        "z": "1cd1c560.9957bb",
        "name": "Pin dreimal falsch",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "Pin dreimal falsch. Alarm",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "reset",
                "pt": "msg",
                "to": "true",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1960,
        "y": 1300,
        "wires": [
            [
                "8ad587ca.4aebb8",
                "a947b30b.b7ab5",
                "520f3712.922798"
            ]
        ]
    },
    {
        "id": "520f3712.922798",
        "type": "link out",
        "z": "1cd1c560.9957bb",
        "name": "error",
        "links": [
            "9ad4091.3600ef8"
        ],
        "x": 2145,
        "y": 1300,
        "wires": []
    },
    {
        "id": "ac81ba6.ae07e48",
        "type": "switch",
        "z": "1cd1c560.9957bb",
        "name": "door closed? / door open?",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "4B00",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "4B01",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "outputs": 2,
        "x": 1060,
        "y": 560,
        "wires": [
            [
                "5398d545.2c5bac"
            ],
            [
                "67feba92.0f4ca4"
            ]
        ]
    },
    {
        "id": "5398d545.2c5bac",
        "type": "change",
        "z": "1cd1c560.9957bb",
        "name": "doorState = closed",
        "rules": [
            {
                "t": "set",
                "p": "doorState",
                "pt": "flow",
                "to": "closed",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1310,
        "y": 540,
        "wires": [
            []
        ]
    },
    {
        "id": "957f0ced.a9d4c",
        "type": "change",
        "z": "1cd1c560.9957bb",
        "name": "doorState = closed",
        "rules": [
            {
                "t": "set",
                "p": "doorState",
                "pt": "flow",
                "to": "closed",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1450,
        "y": 380,
        "wires": [
            [
                "abf5d1e6.ca2c2"
            ]
        ]
    },
    {
        "id": "67feba92.0f4ca4",
        "type": "change",
        "z": "1cd1c560.9957bb",
        "name": "doorState = open",
        "rules": [
            {
                "t": "set",
                "p": "doorState",
                "pt": "flow",
                "to": "open",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1310,
        "y": 580,
        "wires": [
            []
        ]
    },
    {
        "id": "b1b90042.cb527",
        "type": "inject",
        "z": "1cd1c560.9957bb",
        "name": "doorState?",
        "topic": "",
        "payload": "doorState",
        "payloadType": "flow",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 980,
        "y": 220,
        "wires": [
            [
                "4ef628a9.41ae68"
            ]
        ]
    },
    {
        "id": "1f1ad95.52efe27",
        "type": "inject",
        "z": "1cd1c560.9957bb",
        "name": "lastDoorState?",
        "topic": "",
        "payload": "lastDoorState",
        "payloadType": "flow",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 1000,
        "y": 180,
        "wires": [
            [
                "4ef628a9.41ae68"
            ]
        ]
    },
    {
        "id": "63aa57d9.2b92b8",
        "type": "change",
        "z": "1cd1c560.9957bb",
        "name": "savedDoorState = doorState",
        "rules": [
            {
                "t": "set",
                "p": "savedDoorState",
                "pt": "flow",
                "to": "doorState",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1060,
        "y": 660,
        "wires": [
            [
                "a328d0da.9296a"
            ]
        ]
    },
    {
        "id": "5bb4d40e.66a48c",
        "type": "change",
        "z": "1cd1c560.9957bb",
        "name": "send LED pattern 'correct'",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "5201",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1250,
        "y": 1260,
        "wires": [
            [
                "d25215b2.6839f8"
            ]
        ]
    },
    {
        "id": "d25215b2.6839f8",
        "type": "link out",
        "z": "1cd1c560.9957bb",
        "name": "",
        "links": [
            "f62b2d01.7c4da",
            "17d9efb5.f346c8"
        ],
        "x": 1405,
        "y": 1260,
        "wires": []
    },
    {
        "id": "647a41af.3c09f",
        "type": "change",
        "z": "1cd1c560.9957bb",
        "name": "send LED pattern 'false'",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "5200",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1240,
        "y": 1380,
        "wires": [
            [
                "1d23f22.50ecc0e"
            ]
        ]
    },
    {
        "id": "1d23f22.50ecc0e",
        "type": "link out",
        "z": "1cd1c560.9957bb",
        "name": "",
        "links": [
            "f62b2d01.7c4da",
            "17d9efb5.f346c8"
        ],
        "x": 1405,
        "y": 1380,
        "wires": []
    },
    {
        "id": "abf5d1e6.ca2c2",
        "type": "change",
        "z": "1cd1c560.9957bb",
        "name": "savedDoorState = closed",
        "rules": [
            {
                "t": "set",
                "p": "savedDoorState",
                "pt": "flow",
                "to": "closed",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1260.3333740234375,
        "y": 418.9047546386719,
        "wires": [
            [
                "315ee643.49f24a"
            ]
        ]
    },
    {
        "id": "db85dde5.37e2d",
        "type": "change",
        "z": "1cd1c560.9957bb",
        "name": "savedDoorState = open",
        "rules": [
            {
                "t": "set",
                "p": "savedDoorState",
                "pt": "flow",
                "to": "open",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1150,
        "y": 800,
        "wires": [
            []
        ]
    },
    {
        "id": "99d96734.8a7518",
        "type": "switch",
        "z": "1cd1c560.9957bb",
        "name": "savedDoorState == open?",
        "property": "savedDoorState",
        "propertyType": "flow",
        "rules": [
            {
                "t": "eq",
                "v": "open",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "outputs": 1,
        "x": 1160,
        "y": 760,
        "wires": [
            [
                "899fc8da.155728"
            ]
        ]
    },
    {
        "id": "d963be9.f85c74",
        "type": "file in",
        "z": "1cd1c560.9957bb",
        "name": "MAIL file",
        "filename": "/home/pi/alarmSubscribers",
        "format": "lines",
        "chunk": false,
        "sendError": false,
        "x": 2080,
        "y": 640,
        "wires": [
            [
                "8f27ea46.825cc8"
            ]
        ]
    },
    {
        "id": "8f27ea46.825cc8",
        "type": "change",
        "z": "1cd1c560.9957bb",
        "name": "load from flow.mailContent",
        "rules": [
            {
                "t": "set",
                "p": "to",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "mailContent",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 2320,
        "y": 680,
        "wires": [
            [
                "56b096a6.5ecd18",
                "30c81738.691f98"
            ]
        ]
    },
    {
        "id": "56b096a6.5ecd18",
        "type": "debug",
        "z": "1cd1c560.9957bb",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "to",
        "x": 2420,
        "y": 580,
        "wires": []
    },
    {
        "id": "1c40d6a1.5fcc99",
        "type": "change",
        "z": "1cd1c560.9957bb",
        "name": "save to flow.mailContent",
        "rules": [
            {
                "t": "set",
                "p": "mailContent",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1820,
        "y": 620,
        "wires": [
            [
                "d963be9.f85c74"
            ]
        ]
    },
    {
        "id": "a32dc12c.2bdbe",
        "type": "http request",
        "z": "1cd1c560.9957bb",
        "name": "activate Devolo siren",
        "method": "GET",
        "ret": "txt",
        "url": "",
        "tls": "",
        "x": 2854,
        "y": 450,
        "wires": [
            []
        ],
        "inputLabels": [
            "url"
        ]
    },
    {
        "id": "1fedd4d3.5a1d5b",
        "type": "switch",
        "z": "1cd1c560.9957bb",
        "name": "state == (armed | intruder)",
        "property": "state",
        "propertyType": "flow",
        "rules": [
            {
                "t": "regex",
                "v": "^(armed|intruder)$",
                "vt": "str",
                "case": false
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 2244,
        "y": 453,
        "wires": [
            [
                "62c9656e.c799ac"
            ]
        ]
    },
    {
        "id": "f8b63666.b1b668",
        "type": "switch",
        "z": "1cd1c560.9957bb",
        "name": "payload == 'B'?",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "42",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 791,
        "y": 740,
        "wires": [
            [
                "63aa57d9.2b92b8",
                "9f09a05.7fa9a6"
            ]
        ]
    },
    {
        "id": "b31f9117.160df",
        "type": "http request",
        "z": "1cd1c560.9957bb",
        "name": "activate Devolo Simulator",
        "method": "GET",
        "ret": "txt",
        "url": "",
        "tls": "",
        "x": 1817,
        "y": 722,
        "wires": [
            []
        ],
        "inputLabels": [
            "url"
        ]
    },
    {
        "id": "62c9656e.c799ac",
        "type": "file in",
        "z": "1cd1c560.9957bb",
        "name": "SIREN link file",
        "filename": "/home/pi/activateSirenLink",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "x": 2492,
        "y": 453,
        "wires": [
            [
                "9f52141d.f25df8"
            ]
        ]
    },
    {
        "id": "3790df84.52e53",
        "type": "file in",
        "z": "1cd1c560.9957bb",
        "name": "DEACTIVATE link file",
        "filename": "/home/pi/deactivateSimLink",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "x": 1859,
        "y": 1179,
        "wires": [
            [
                "ad8a184d.8cb3f8"
            ]
        ]
    },
    {
        "id": "52ed97c5.e5edf8",
        "type": "http request",
        "z": "1cd1c560.9957bb",
        "name": "deact. Devolo Simulator",
        "method": "GET",
        "ret": "txt",
        "url": "",
        "tls": "",
        "x": 2316,
        "y": 1177,
        "wires": [
            []
        ],
        "inputLabels": [
            "url"
        ]
    },
    {
        "id": "9f09a05.7fa9a6",
        "type": "file in",
        "z": "1cd1c560.9957bb",
        "name": "ACTIVATE link file",
        "filename": "/home/pi/activateSimLink",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "x": 1048,
        "y": 723,
        "wires": [
            [
                "1198bd89.10d882"
            ]
        ]
    },
    {
        "id": "321f2a9.414b7d6",
        "type": "inject",
        "z": "1cd1c560.9957bb",
        "name": "",
        "topic": "",
        "payload": "PIN korrekt",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 1623,
        "y": 1181,
        "wires": [
            [
                "3790df84.52e53"
            ]
        ]
    },
    {
        "id": "ad8a184d.8cb3f8",
        "type": "change",
        "z": "1cd1c560.9957bb",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "url",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 2081,
        "y": 1179,
        "wires": [
            [
                "52ed97c5.e5edf8"
            ]
        ]
    },
    {
        "id": "9f52141d.f25df8",
        "type": "change",
        "z": "1cd1c560.9957bb",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "url",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 2662,
        "y": 453,
        "wires": [
            [
                "a32dc12c.2bdbe"
            ]
        ]
    },
    {
        "id": "1198bd89.10d882",
        "type": "change",
        "z": "1cd1c560.9957bb",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "url",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1605,
        "y": 721,
        "wires": [
            [
                "b31f9117.160df"
            ]
        ]
    },
    {
        "id": "2473bf0.5439a42",
        "type": "serial-port",
        "z": "",
        "serialport": "/dev/serial0",
        "serialbaud": "1200",
        "databits": "8",
        "parity": "none",
        "stopbits": "1",
        "newline": "1",
        "bin": "false",
        "out": "count",
        "addchar": false
    }
]